[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "echo 'DATABASE_URL is set' && npx prisma db push --accept-data-loss --skip-generate --force-reset && echo 'Database setup complete' && npm start"
